@charset "UTF-8";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gradient: linear-gradient(
        to right,
        rgb(149 114 252),
        rgb(67 231 173),
        rgb(226 212 92)
    )
}

:root {
    --background: linear-gradient(90deg, black, #221133);
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: var(--background);
    
}


#prin {
    display: grid;
    place-content: center;

    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

