@media (max-width: 480px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: var(--background);

  }

  :root {
    --gradient: linear-gradient(to right,
        rgb(149 114 252),
        rgb(67 231 173),
        rgb(226 212 92))
  }

  :root {
    --background: linear-gradient(90deg, #221133, #000000);
  }

  .main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 20px;
    visibility: hidden;
  }

  .size-fullstack {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    line-height: 0.8;
    margin: 20px;
    visibility: hidden;

  }

  h1 a {
    display: flex;
    margin-bottom: 15px;
    z-index: 3;
    transition: 0.5s;
  }

  img {
    width: 55px;
    height: 55px;
  }



  h1 a:hover {
    transform: translateY(-10px);
    transition: 0.5s;
  }

  .size-developer {
    font-size: 5rem;
    line-height: 0.8;
    margin: 20px;
    visibility: hidden;
  }

  .size-info {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin: 20px;
    visibility: hidden;
  }

  .conhecaProjetos {
    visibility: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.3rem;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .footer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}